<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <div class="header">
        <a href="/">TaskMeTo</a>
    </div>

    <div class="nav_bar">
        <include href="nav.htm" />
    </div>

    <check if="{{ @error }}">
        <div class="error">
            {{ @error }}
        </div>
    </check>

    <check if="{{ @message }}">
        <div class="message">
            {{ @message }}
        </div>
    </check>

    <div class="content">
        <include href="{{ @content }}" />
    </div>
</body>
</html>
