<div class="nav">
    <repeat group="{{ @nav }}" key="{{ @key }}" value="{{ @value }}">
        &#187;
        <check if="{{ @value }}">
            <true>
                <a href="{{ @value }}">{{ @key }}</a>
            </true>
            <false>
                {{ @key }}
            </false>
        </check>
    </repeat>
</div>
<div class="user_nav">
    <check if="{{ @user }}">
        <false><a href="/user/signin">Sign In</a></false>
        <true>
            Logged in as <a href="/user/profile/{{ @user->getUsername()}}">{{ @user->getUsername() }}</a>.
            <a href="/user/signout">Sign Out</a>
        </true>
    </check>
</div>