html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    background: #eeede5;
}

.header {
    border-top: 1px solid #ee0000;
    background: #000;
    font-size: 6em;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}

.nav_bar {
    background: #bb0000;
    font-size: 1em;
    padding: 5px 10px 5px 10px;
    min-height: 1em;
    border-bottom: 4px solid #aa0000;
    border-top: 1px solid #ee0000;
}

.sub_nav_bar {
    text-align: center;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #c0c0c0;
}

.header a {
    text-decoration: none;
    color: #fff;
}

a {
    color: #660000;
}

.nav {
    float: left;
}

.user_nav {
    float: right;
}

.content {
    margin: 10px;
}

.error {
    background: #dd0000;
    color: #fff;
    padding: 10px;
    border: 1px solid #ff0000;
}

.message {
    background: #b4f75e;
    color: #000;
    padding: 10px;
    border: 1px solid #a0f334;
}

textarea {
    width: 50%;
    height: 100px;
}

input[type=text], input[type=password] {
    width: 25%;
}

span.hint {
    font-size: 0.75em;
    font-style: italic;
    display: inline-block;
    margin-top: 5px;
}

span.required {
    font-size: 0.75em;
    font-style: italic;
    color: #ff0000;
}

table {
    width: 100%;
}

tr:nth-child(even) {background: #cccac1}
tr:nth-child(odd) {background: #eeece4}

td {
    padding: 5px;
    vertical-align: middle;
}

td.align_right_fit {
    text-align: right;
    width:1%;
    white-space:nowrap;
}

td.align_left_fit {
    text-align: left;
    width:1%;
    white-space:nowrap;
}

th {
    padding: 5px;
    background: #bb0000;
}

div.deadline_passed_indicator {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #880000;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}

div.deadline_not_passed_indicator {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #008800;
    width: 10px;
    height: 10px;
    background-color: #00ff00;
}

div.code {
    background: #cccac1;
    padding: 10px;
}

div.sub_header {
    font-size: 0.5em;
    font-weight: normal;
}

label {
    display: block;
}

input[type=submit] {
    padding: 5px;
}