<div class="sub_nav_bar">
    <check if="{{ @task->isPublished() }}">
        <false>
            <a href="/task/publish/{{ @task->getId() }}">Publish</a>
        </false>
        <true>
            <a href="/task/unpublish/{{ @task->getId() }}">Unpublish</a>
        </true>
    </check> |
    Edit |
    <a href="/task/delete/{{ @task->getId() }}">Delete</a>
</div>

<h1>Editing {{ @task->getTitle() }}</h1>

<div class="code">
    <form method="POST" action="/task/update/{{ @task->getId() }}" enctype="multipart/form-data">
        <p>
            <label for="title">Title: <span class="required">*</span></label><br /><input type="text" id="title" name="title" value="{{ @task->getTitle() }}" placeholder="e.g. My Awesome Task" />
        </p>
        <p>
            <label for="instructions">Instructions: <span class="required">*</span></label><br /><textarea id="instructions" name="instructions">{{ @task->getInstructions() }}</textarea>
            <br />
            <span class="hint">&lt;p&gt;, &lt;br&gt;, &lt;b&gt;, &lt;i&gt;, &lt;u&gt;, &lt;ul&gt; and &lt;li&gt; HTML tags allowed.</span>
        </p>
        <p>
            <label for="requirements">Fulfillment Requirements: </label><br /><textarea id="requirements" name="requirements">{{ @task->getRequirements() }}</textarea><br />
            <span class="hint">Highlight what you expect from the user.</span><br />
        </p>
        <p>
            <label for="deadline">Due: <span class="required">*</span></label><br /><input type="text" id="deadline" name="deadline" value="{{ @task->getFormattedDeadline('Y/m/d H:i:s') }}" placeholder="e.g. 2016/12/25 23:59:59" /><br />
            <span class="hint">Date in Year/Month/Day 24-Hour:Minute:Second format.</span>
        </p>
        <p>
            <label for="tags">Search Tags: </label><br /><input type="text" id="tags" name="tags" value="{{ implode(', ', @tags) }}" placeholder="e.g. tag1, tag2, tag2" /><br />
            <span class="hint">Comma-delimited list of tags.</span>
        </p>

        <p>
            <label for="file1">Files: </label><br />

            <check if="{{ @files }}">
                <true>
                    <set remainingFileCount="{{ 3 - count(@files) }}" />
                    <repeat group="{{ @files }}" key="{{ @key }}" value="{{ @taskFile }}">
                    <p>
                        <a href="/file/{{ @taskFile->getFile()->getId() }}" target="_blank">
                            <check if="{{ @taskFile->getFile()->isImage() }}">
                                <img src="/file/{{ @taskFile->getFile()->getId() }}?w=100" class="task_image_icon" /><br />
                            </check>
                            <check if="{{ @taskFile->getFile()->isDocument() }}">
                            </check>
                            {{ @taskFile->getFile()->getOriginalFilename() }}
                        </a>
                        <br />
                        (<a href="/task/edit/{{ @task->getId() }}/remove/{{ @taskFile->getFile()->getId()}}">Remove</a>)
                    </p>
                    </repeat>
                </true>
                <false>
                    <set remainingFileCount="3" />
                </false>
            </check>

            <check if="{{ @remainingFileCount > 0 }}">
                <repeat group="{{ range(1, @remainingFileCount) }}" key="{{ @key }}" value="{{ @fileId }}">
                    <input type="file" id="file{{ @fileId }}" name="file{{ @fileId }}" /><br />
                </repeat>

                <span class="hint">
                    Upload up to {{ @remainingFileCount }} more
                    <check if="{{ @remainingFileCount == 1 }}">
                        <true>
                            file
                        </true>
                        <false>
                            files
                        </false>
                    </check>
                </span>
            </check>

        </p>

        <input type="submit" value="Update" />
    </form>
</div>