<div class="sub_nav_bar">
    <check if="{{ @user }}">
        <false><a href="/user/signin?returnpath=/tasks">Sign in</a> to create new, or view existing tasks.</false>
        <true>
            Open Public Tasks | <a href="/task/create">Create New Task</a> | <a href="/tasks/view">Your Tasks</a>
        </true>
    </check>
</div>

<h1>Open Public Tasks
    <check if="{{ @REQUEST.tag }}">
        <div class="sub_header">tagged <a href="/tasks?tag={{ @REQUEST.tag }}">{{ @REQUEST.tag }}</a></div>
    </check>
</h1>

<check if="{{ @tasks }}">
    <false>
        <p>
        There are no opens tasks at present.
        </p>
        <check if="{{ @user }}">
            <false><a href="/user/signin?returnpath=/tasks">Sign in</a> to create a new task.</false>
            <true>
                <a href="/task/create">Create</a> a new task.
            </true>
        </check>
    </false>
    <true>
        <include href="task/reusable/tasklist.htm" />
    </true>
</check>
