<check if="{{ @isOwner }}">
    <div class="sub_nav_bar">
        <check if="{{ @task->isPublished() }}">
            <false>
                <a href="/task/publish/{{ @task->getId() }}">Publish</a>
            </false>
            <true>
                <a href="/task/unpublish/{{ @task->getId() }}">Unpublish</a>
            </true>
        </check> |
        <a href="/task/edit/{{ @task->getId() }}">Edit</a> |
        <a href="/task/delete/{{ @task->getId() }}">Delete</a>
    </div>
</check>

<h1>{{ @task->getTitle() }}
    <div class="sub_header">Created by <a href="/user/profile/{{ @task->getCreatedByUser()->getUsername() }}">{{ @task->getCreatedByUser()->getUsername() }}</a></div>
</h1>


<h2>Instructions</h2>

<div class="code">
    {{ @task->getInstructions() | raw }}
</div>

<check if="{{ @task->getRequirements() }}">
    <h2>Fulfillment Requirements</h2>

    <div class="code">
        {{ @task->getRequirements() | raw }}
    </div>
</check>

<h2>Due</h2>

<div class="code">
    {{ @task->getFormattedDeadline() }}
</div>

<check if="{{ @tags }}">
    <h2>Tags</h2>
    <div class="code">
        <repeat group="{{ @tags }}" key="{{ @key }}" value="{{ @tag }}">
            <a href="/tasks?tag={{ @tag->getTag() }}">{{ @tag->getTag() }}</a>&nbsp;
        </repeat>
    </div>
</check>

<check if="{{ @files }}">
    <h2>Files</h2>
    <div class="code">
        <repeat group="{{ @files }}" key="{{ @key }}" value="{{ @taskFile }}">
            <p>
                <a href="/file/{{ @taskFile->getFile()->getId() }}" target="_blank">
                    <check if="{{ @taskFile->getFile()->isImage() }}">
                        <img src="/file/{{ @taskFile->getFile()->getId() }}" class="task_image_icon" /><br />
                    </check>
                    <check if="{{ @taskFile->getFile()->isDocument() }}">
                    </check>
                    {{ @taskFile->getFile()->getOriginalFilename() }}
                </a>
            </p>
        </repeat>
    </div>
</check>

<h2>Subscribers</h2>

<check if="{{ @subscribers }}">
    <div class="code">
        <repeat group="{{ @subscribers }}" key="{{ @key }}" value="{{ @userTask }}">
            <set username="{{ @userTask->getUser()->getUsername() }}" />
            <a href="/user/profile/{{ @username }}">{{ @username  }}</a>
            <check if="{{ @task->hasDeadlinePassed() }}">
                <true>
                    <check if="{{ @userTask->getCompletedTimestamp() > 0 }}">
                        <true>
                            <div class="deadline_completed_indicator"></div>
                        </true>
                        <false>
                            <div class="deadline_not_completed_indicator"></div>
                        </false>
                    </check>
                </true>
                <false>
                    <div class="deadline_in_progress_indicator"></div>
                </false>
            </check>

           &nbsp;
        </repeat>
    </div>
</check>
<p>
<check if="{{ @user }}">
    <true>
        <check if="{{ @subscribedToTask }}">
            <false>
                <check if="{{ @task->hasDeadlinePassed() }}">
                    <true>
                        Deadline has passed, so you can no longer subscribe to this task.
                    </true>
                    <false>
                        Would you like to <a href="/task/subscribe/{{ @task->getId() }}">accept and subscribe</a> to this task?
                    </false>
                </check>
            </false>
            <true>
                Would you like to <a href="/task/unsubscribe/{{ @task->getId() }}">unsubscribe</a> from this task?
                <include href="task/reusable/taskresponse.htm" />
            </true>
        </check>
    </true>
    <false>
        <a href="/user/signin?returnpath=/task/subscribe/{{ @task->getId() }}">Sign in</a> to subscribe to task.
    </false>
</check>
</p>
<hr >
