<check if="{{ @isOwner }}">
    <div class="sub_nav_bar">
        <check if="{{ @task->isPublished() }}">
            <false>
                <a href="/task/publish/{{ @task->getId() }}">Make Public</a>
            </false>
            <true>
                <a href="/task/unpublish/{{ @task->getId() }}">Make Private</a>
            </true>
        </check> |
        <a href="/task/edit/{{ @task->getId() }}">Edit</a> |
        <a href="/task/delete/{{ @task->getId() }}">Delete</a>
    </div>
</check>

<h1>{{ @task->getTitle() }}
    <div class="sub_header">Created by <a href="/user/profile/{{ @task->getCreatedByUser()->getUsername() }}">{{ @task->getCreatedByUser()->getUsername() }}</a></div>
</h1>


<h2>Instructions</h2>

<div class="code">
    {{ @task->getInstructions() | raw }}
</div>

<check if="{{ @task->getRequirements() }}">
    <h2>Fulfillment Requirements</h2>

    <div class="code">
        {{ @task->getRequirements() | raw }}
    </div>
</check>

<h2>Due</h2>

<div class="code">
    {{ @task->getFormattedDeadline() }}
</div>

<check if="{{ @files }}">
    <h2>Files</h2>
    <div class="code">
        <repeat group="{{ @files }}" key="{{ @key }}" value="{{ @taskFile }}">
            <p>
                <set taskActualFile="{{ @taskFile->getFile() }}" />
                <a href="/file/{{ @taskActualFile->getId() }}" target="_blank">
                    <check if="{{ @taskActualFile->isImage() }}">
                        <img src="/file/{{ @taskActualFile->getId() }}?w=100" class="task_image_icon" /><br />
                    </check>
                    <check if="{{ @taskActualFile->isDocument() }}">
                    </check>
                    {{ @taskActualFile->getOriginalFilename() }}
                </a>
            </p>
        </repeat>
    </div>
</check>

<check if="{{ @tags }}">
    <h2>Tags</h2>
    <div class="code">
        <repeat group="{{ @tags }}" key="{{ @key }}" value="{{ @tag }}">
            <a href="/tasks?tag={{ @tag->getTag() }}">{{ @tag->getTag() }}</a>&nbsp;
        </repeat>
    </div>
</check>

<h2>Subscribers</h2>

<check if="{{ @subscribers }}">
    <div class="code">
        <repeat group="{{ @subscribers }}" key="{{ @key }}" value="{{ @userTask }}">
            <set username="{{ @userTask->getUser()->getUsername() }}" />
            <set allowComplete='0' />
            <check if="{{ @userTask->getCompletedTimestamp() > 0 }}">
                <true>
                    <div class="deadline_completed_indicator"></div>
                </true>
                <false>
                    <check if="{{ @task->hasDeadlinePassed() }}">
                        <true>
                            <div class="deadline_not_completed_indicator"></div>
                        </true>
                        <false>
                            <div class="deadline_in_progress_indicator"></div>
                            <set allowComplete='1' />
                        </false>
                    </check>
                </false>
            </check>
            <a href="/user/profile/{{ @username }}">{{ @username  }}</a>

            <check if="{{ @isOwner && @allowComplete }}">
                <a href="/task/complete/{{ @userTask->getId() }}">[Complete]</a>
            </check>
           &nbsp;
        </repeat>
    </div>
</check>
<p>
<check if="{{ @user }}">
    <true>
        <check if="{{ @subscribedToTask }}">
            <false>
                <check if="{{ @task->hasDeadlinePassed() }}">
                    <true>
                        Due date has passed, so you can no longer subscribe to this task.
                    </true>
                    <false>
                        Would you like to <a href="/task/subscribe/{{ @task->getId() }}">subscribe</a> to this task?
                    </false>
                </check>
            </false>
            <true>
                Would you like to <a href="/task/unsubscribe/{{ @task->getId() }}">unsubscribe</a> from this task?
            </true>
        </check>
    </true>
    <false>
        <a href="/user/signin?returnpath=/task/subscribe/{{ @task->getId() }}">Sign in</a> to subscribe to task.
    </false>
</check>
</p>
<check if="{{ @user && @subscribedToTask }}">
    <hr >
    <h1>Responses</h1>
    <check if="{{ @responses }}">
        <true>
            <repeat group="{{ @responses }}" key="{{ @key }}" value="{{ @response }}">
                <set username="{{ @response->getUser()->getUsername() }}" />
                <h3>
                    {{ @username }}
                    <div class="sub_header">{{ @response->getFormattedCreateDate() }}</div>
                </h3>

                <p>
                    {{ @response->getResponse() }}
                </p>

                <set files="{{ @response->getFiles() }}" />

                <check if="{{ @files }}">
                        <div class="code">
                        <repeat group="{{ @files }}" key="{{ @key }}" value="{{ @responseFile }}">
                            <p>
                                <set responseActualFile="{{ @responseFile->getFile() }}" />
                                <a href="/file/{{ @responseActualFile->getId() }}" target="_blank">
                                    <check if="{{ @responseActualFile->isImage() }}">
                                        <img src="/file/{{ @responseActualFile->getId() }}?w=100" class="task_image_icon" /><br />
                                    </check>
                                    <check if="{{ @responseActualFile->isDocument() }}">
                                    </check>
                                    {{ @responseActualFile->getOriginalFilename() }}
                                </a>
                            </p>
                        </repeat>
                    </div>
                </check>

                <set userTask="{{ @response->getUserTask() }}" />

                <p>
                <check if="{{ @isOwner &&  !@userTask->isComplete() }}">
                    <a href="/task/complete/{{ @userTask->getId() }}">Mark Complete</a> |
               </check>

                <check if="{{ @isOwner || (@user && @user->getId() == @response->getUser()->getId()) }}">
                    <true>
                        <a href="/task/response/delete/{{ @response->getId() }}">Delete</a>
                    </true>
                </check>
                </p>
            </repeat>
        </true>
        <false>
            Nobody has responded to this task yet.
        </false>
    </check>
    <h2>Create a response</h2>

    <div class="code">
        <form method="POST" action="/task/respond" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ @task->getId() }}" />
            <p>
                <label for="response">Response: </label><br /><textarea id="response" name="response" placeholder="e.g. Here's my response...">{{ @POST.response }}</textarea>
            </p>
            <p>
                <label for="file1">Files: </label><br />
                <input type="file" id="file1" name="file1" /><br />
                <input type="file" id="file2" name="file2" /><br />
                <input type="file" id="file3" name="file3" /><br />
                <span class="hint">Upload up to 3 files in response</span>
            </p>

            <input type="submit" value="Respond" />
        </form>
    </div>
</check>
<br />